{% extends "layouts/layout1.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/static/logo.jpg" alt="..." />
        <!-- Masthead Heading-->
        
        <form method="POST" action="/test_add_data">
            <label>que sensor? 1 o 2:</label>
            <input id="num" name="num" type="text" />
            <label>temp:</label>
            <input type="number" step="0.01" name="temp" id="temp">
            <label>nombre de arduino:</label>
            <input id="arduino_asignado" name="arduino_asignado" type="text" />
            <input type="submit" />
        </form>
        
        <div>
        <form method="POST" action="/alerta_mail">
            <button name="mandarcorreo" value="mandarcorreo">Mandar correo</button>
            
        </form>
        
        </div>
        <div>
            <form method="POST" action="/test_add_data">
                <label>que sensor? 1 o 2:</label>
                <input id="num" name="num" type="text" />
                <label>temp:</label>
                <input type="number" step="0.01" name="temp" id="temp">
                <label>nombre de arduino:</label>
                <input id="arduino_asignado" name="arduino_asignado" type="text" />
                <input type="submit" />
            </form>
            
        </div>
        <!-- Icon Divider-->
        <!-- Masthead Subheading-->
    </div>
</header>

        {% endblock %}



