<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/tablestyle.css" /> 
    <title>todas las entradas</title>
</head>
<div>
    <form method="POST" action="/ver_mas">
        <label for="arduinos">Tus otros dispositivos:</label>
        <select name="arduinos" id="arduinos">
            {% for i in all_arduinos_From_user %}
            <option value={{i.arduino_asignado}}>{{i.arduino_asignado}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" />
    </form>
</div>
<h2>{{arduino_actual}}</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Temperatura</th>
        </tr>
        </thead>
        <tbody>
            
            {% for i in sensortemp %}
        <tr>
            <td>{{i.fecha}}</td>
            <td>{{i.temperatura}}</td>
        </tr>
            {% endfor %}
        <tbody>
    </table>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>luminosidad</th>
        </tr>
        </thead>
        <tbody>
            {% for sensor in sensorluminosidad %}
        <tr>
            <td>{{sensor.fecha}}</td>
            <td>{{sensor.luminosidad}}</td>
        </tr>
            {% endfor %}
        <tbody>
    </table>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Movimiento</th>
        </tr>
        </thead>
        <tbody>
            {% for sensor in sensormovimiento %}
        <tr>
            <td>{{sensor.fecha}}</td>
            <td>{{sensor.movimiento}}</td>
        </tr>
            {% endfor %}
        <tbody>
    </table>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Gas</th>
        </tr>
        </thead>
        <tbody>
            {% for sensor in sensorgas %}
        <tr>
            <td>{{sensor.fecha}}</td>
            <td>{{sensor.gas}}</td>
        </tr>
            {% endfor %}
        <tbody>
    </table>
</div>

